<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Spring webová kalkulačka</title>
</head>
<body>
<h1>Spring kalkulačka</h1>
<form action="/calculator" method="post">
    <label>
        První číslo:
        <input type="number" id="number1" name="number1" th:field="${calculatorDTO.number1}"/>
    </label><br/>

    <label>Vyberte operaci:
        <select id="operation" name="operation" th:field="${calculatorDTO.operation}">
            <option value="+">Sečtení</option>
            <option value="-">Odečtení</option>
            <option value="*">Vynásobení</option>
            <option value="/">Vydělení</option>
        </select>
    </label><br/>

    <label>
        Druhé číslo:
        <input type="number" id="number2" name="number2" th:field="${calculatorDTO.number2}"/>
    </label><br/>

    <input type="submit" value="Proveď"/> <input type="reset" value="Reset"/>
</form>

</body>
</html>